/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homeWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.homeWrapper > * {
  position: relative;
  z-index: 1;
}

.heroBanner {
  padding: 2rem 0 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.headerImage {
  width: 100%;
  max-width: 480px;
  max-height: 120px;
}